body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    background: #333;
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

nav button{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}

nav button:hover{
    background: #ddd;
}


#main-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
    margin-top: 50px;
}